package-lock.json
venv/

*.docx

__pycache__/
results_old/
app_logs/

dashboard/backend/results/1_Training/checkpoints/
dashboard/backend/results/2_SyncData/
dashboard/backend/results/*

# ignore raw data files
dashboard/backend/dataset/*/df_ag.tsv
dashboard/backend/dataset/*/df_rs.tsv
